#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.imgElement {
  will-change: filter;
  transition: filter 300ms;
}
.imgElement:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.imgElement.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.galleryContainer{
  display: flex;
  flex-wrap: wrap;
}

.imgContainer{
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  
}
